<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\App\FrontControllerInterface" type="Magento\UpwardConnector\Controller\Upward" />
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="di_compile_fix" type="Magento\UpwardConnector\Plugin\Magento\Framework\App\DICompileFix" />
    </type>
    <type name="Magento\UpwardConnector\Model\ComputedPool">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="pageType" xsi:type="object">Magento\UpwardConnector\Model\Computed\PageInfo</item>
                <item name="webpackChunks" xsi:type="object">Magento\UpwardConnector\Model\Computed\WebpackChunks</item>
            </argument>
        </arguments>
    </type>
</config>
