<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="upward" translate="label" type="text" sortOrder="300"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UPWARD PWA Configuration</label>
                <field id="path" type="text" showInDefault="0" showInWebsite="0" showInStore="0" />
                <field id="front_names_to_skip" canRestore="1" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" translate="label,comment" type="textarea">
                    <label>Front Name Allowlist</label>
                    <comment>Line break separated list of URL's that will load the default Magento frontend.</comment>
                </field>
                <field id="prerender_enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label,comment" type="select">
                    <label>Enable Prerender For Search Bots</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled requests from a crawler will be sent to Prerender.io for the static HTML.</comment>
                </field>
                <field id="prerender_url" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="50" translate="label,comment" type="text">
                    <label>Prerender URL</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Baseurl</backend_model>
                    <comment><![CDATA[Fully qualified URL that end with '/' (slash) e.g. https://service.prerender.io/]]></comment>
                    <depends>
                        <field id="web/upward/prerender_enabled">1</field>
                    </depends>
                </field>
                <field id="prerender_token" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="60" translate="label" type="text">
                    <label>Prerender.io Token</label>
                    <depends>
                        <field id="web/upward/prerender_enabled">1</field>
                    </depends>
                </field>
                <field id="prerender_crawlers" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="70" translate="label,comment" type="textarea">
                    <label>Crawler User Agents</label>
                    <comment>Line break separated list of Crawler User Agents.</comment>
                    <depends>
                        <field id="web/upward/prerender_enabled">1</field>
                    </depends>
                </field>
                <field id="prerender_blocked_list" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="80" translate="label,comment" type="textarea">
                    <label>Blocked List</label>
                    <comment>Line break separated list of resources that should not be prerendered. i.e. *.css</comment>
                    <depends>
                        <field id="web/upward/prerender_enabled">1</field>
                    </depends>
                </field>
                <field id="prerender_allowed_list" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="90" translate="label,comment" type="textarea">
                    <label>Allowed List</label>
                    <comment>Line break separated list of resources that should be prerendered. All resources will be sent for prerender if the list is empty.</comment>
                    <depends>
                        <field id="web/upward/prerender_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
