<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web">
            <group id="upward" translate="label" type="text" sortOrder="300"
                showInDefault="1" showInWebsite="0" showInStore="0">
                <label>UPWARD Configuration</label>
                <field id="config_path" type="text" translate="label,comment"
                    sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>UPWARD Config File</label>
                    <config_path>web/upward/path</config_path>
                    <comment>Server path to YAML configuration file for UPWARD</comment>
                </field>
            </group>
        </section>
    </system>
</config>
